.header__line {
  margin: 41px 0 0;
  width: 100%;
  max-height: 0;
  border: 1px solid #545454;
}
/*
.header__lang-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 425px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}*/