.info__about-me {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 18px;
  margin: 0;
}

@media screen and (max-width: 580px) {
  .info__about-me {
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
    transform: translateX(14px);
  }
}