.popup__edit {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 20px;
  padding-right: 51.42px;
}

@media screen and (max-width: 580px) {
  .popup__edit {
    font-size: 18px;
    line-height: 22px;
    padding: 0;
    margin: 0 8px 45px 0;
  }
}