.popup__container {
  position: relative;
  display: block;
  max-width: 430px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: 0 auto;
  padding: 34px 36px 37px;
  color: #000;
  z-index: 1;
  box-sizing: border-box;
}

@media screen and (max-width: 502px) {
  .popup__container {
    max-width: 282px;
    padding: 25px 22px;
    margin: 0 19px;
  }
}
