.popup__field-name {
  border: 0;
  width: 100%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 44px 0 0;
  padding: 10px 0;
}

@media screen and (max-width: 580px) {
  .popup__field-name {
    margin: 67px 0 0;
  }
}

.popup__field-name:focus {
  outline-color: #318ffad0;
 }